{% extends 'menu.html' %}

{% block nameqh %} 
  {% if name %} 
    <button class="btn btn-sm btn-outline-secondary" type="button"> 
        <a class="nav-link" href="/bcp/logout">QH:. {{name}} </a> 
     </button> 
  {% endif %} 
{% endblock %}

{% block content %}
  {% if grade %}
    <div class="row">
      <div class="col">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdAU9DZ6chlOSwivSzVosKGhvzQsvBXsKwBTqAaqxWUvL7vMg/viewform?embedded=true" width="100%" height="1280px" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
      </div>
    </div>
  {% else %}
    <div class="row">
        <div class="col">
            <div class="alert alert-danger" role="alert">
                Si no recuerda sus credenciales dirijase al sitio oficial de la <a href="https://www.granlogiadechile.cl/" target="_blank" rel="noopener noreferrer">Gran Logia de Chile</a> para recuperarlas. Si sólo recuerda su mail de registro puede crear una nueva clave presionando directamente <a href="https://www.mimasoneria.cl/web/reset_password" target="_blank" rel="noopener noreferrer">acá</a>.
            </div>
        </div>
    </div>
  {% endif %}  
{% endblock %}
