{% extends 'menu.html' %}

{% block content %}
<div class="row" align="justify" style="padding: 50px 0px 0px 0px;">
  <div class="col" style="border: none;">
    <h4>Buenaventura Cadiz Patiño N° 188 </h4><br>
    Nuestra logia se remonta a fines del año 1999 y el levantamiento de columnas al 19 de Noviembre de 2001. Se creo con el fin de un día ser un complemento espiritual a los
    estudiantes del <a href="http://www.bancoestudiantil.cl"  target="_blank" rel="noopener noreferrer" > Banco de Solidaridad Estudiantil </a> ya que éste en su misión no contempla este 
    tipo de aporte. <br> Actualmente somos 52 miembros y tenemos una personalidad jurídica con la Fundación
    <a href="https://www.buenaventuracadiz.com"  target="_blank" rel="noopener noreferrer" > Buenaventura Cadiz Patiño </a> a la cual todos pertenecemos.
  </div>
  <div class="col" align="center" style="padding: 20px 0px 0px 0px; border: none;">
    <img src="{{ url_for('static', filename='image/logorl188.png') }}" width="200" height="200" alt="Buenaventura Cadiz Patiño">
  </div>
</div>
<div class="row" style="padding: 20px 0px 0px 0px;">
  <div class="col" align="justify" style="border: none;">
    El acceso a los recursos están protegidos por clave. Es importante notar que el control de acceso se hace directamente con la 
    <a href="https://www.granlogiadechile.cl/index.php/login-user"  target="_blank" rel="noopener noreferrer" > Gran Logia de Chile  </a> 
    por lo que el grado será que se tenga registrado en la Gran Logia. <br>
    Todos los recursos monstrados están considerando el grado del QH:. si ud no pertenece a la orden, evite meterse a la pagina.
  </div>
</div>
<div class="row" style="padding: 20px 0px 0px 0px;">
  <div class="col" align="justify" style="border: none;">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      Launch demo modal
    </button>
    <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  </div>
</div>

{% endblock %}
