<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BCP - RL 188</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <link rel= "stylesheet" type= "text/css" href= "/bcp/styles/mainpage.css">

    {% block addhead %} {% endblock %}
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.1.js" 
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" 
        crossorigin="anonymous"></script>

    <div class="container" max-width="lg" style="padding:5px 0px 0px 0px;">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/bcp/home">Principal</a>
                        
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item active">
                                    <a class="nav-link active" aria-current="page" data-toggle="tooltip" data-placement="bottom" title="Consigue los archivos PDF de los trabajos de nuestra logia"
                                        href="{{ url_for('intranet') }}">Planchas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" data-toggle="tooltip" data-placement="bottom" title="Documentos que pueden ayudar a realizar trabajos"
                                        href="{{ url_for('more') }}">Complementos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" data-toggle="tooltip" data-placement="bottom" title="Videos y Fotografias de nuestra logia y los QQHH"
                                    href="{{ url_for('youtube') }}" >Multimedia</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" data-toggle="tooltip" data-placement="bottom" title="Dirigete al blog de nuestra fundación, con todos los documentos relacionados"
                                        href="https://www.buenaventuracadiz.cl" target="_blank" rel="noopener noreferrer">Fundación BCP</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" data-toggle="tooltip" data-placement="bottom" title="Gran Logia de Chile"
                                        href="https://www.granlogia.cl" target="_blank" rel="noopener noreferrer ">Gran Logia</a>
                                </li>
                                {% block menu_libraries %} {% endblock %}
                                {% block maintainer %} {% endblock %}
                            </ul>
                        </div>
                    </div>
                    <div style="text-align:right; padding:0px 0px 0px 0px; border: none;">
                        {% block nameqh %} {% endblock %} 
                    </div>
                            
                </nav>
            </div>
        </div>
    </div>
    <!-- padding: arriba abajo izq der -->
    <div id="main" class="container" max-width="sm" style="padding:10px 0px 0px 0px;"> 
        {% block content %} {% endblock %}
    </div>
    <div id="footer" class="container" max-width="sm" style="text-align:center; padding:50px 0px 0px 0px; border: none;" >
        <a class="nav-link" aria-current="page" data-toggle="tooltip" data-placement="bottom" 
        title="Creado por Jonnattan G" href="https://dev.jonnattan.com" target="_blank" rel="noopener noreferrer"> &copy; Copyright 2025 by Jonnattan G</a>. 
    </div>
</body>

</html>