{% extends 'menu.html' %}

{% block menu_libraries %} 
  {% if grade %} 
    {% if grade == 'Primer Grado' %}  
       <li class="nav-item">
          <a class="nav-link" aria-current="page" data-toggle="tooltip" data-placement="bottom" title="Biblioteca de Nextcloud"
          href="https://next.glchile.cl/nextcloud/index.php/s/aeAzrk57EfQqscg" target="_blank" rel="noopener noreferrer ">Biblioteca Aprendices</a>
        </li>
    {% elif grade == 'Segundo Grado' %}  
       <li class="nav-item">
          <a class="nav-link" aria-current="page" data-toggle="tooltip" data-placement="bottom" title="Biblioteca de Nextcloud"
          href="https://next.glchile.cl/nextcloud/index.php/s/355bCnHk69L6oWX" target="_blank" rel="noopener noreferrer ">Biblioteca Compañeros</a>
        </li>
    {% elif grade == 'Tercer Grado' %}  
       <li class="nav-item">
          <a class="nav-link" aria-current="page" data-toggle="tooltip" data-placement="bottom" title="Biblioteca de Nextcloud"
          href="https://next.glchile.cl/nextcloud/index.php/s/tDLCNxbywGLJbrn" target="_blank" rel="noopener noreferrer ">Biblioteca Maestros</a>
        </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" aria-current="page" data-toggle="tooltip" data-placement="bottom" title="Biblioteca de Nextcloud"
          href="" target="_blank" rel="noopener noreferrer ">|</a>
      </li>
    {% endif %}
  {% endif %}
{% endblock %}

{% block maintainer %} 
  {% if maintainer and username %} 
    <li class="nav-item">
      <a class="nav-link" aria-current="page" data-toggle="tooltip" data-placement="bottom" title="Administrar Trabajos que se mostraran en intranet""
        href="/bcp/maintainer?user={{username}}">Administrar</a>
    </li>
  {% endif %}
{% endblock %}

{% block nameqh %} 
  {% if name %} 
    <button class="btn btn-sm btn-outline-secondary" type="button"> 
        <a class="nav-link" href="/bcp/logout">{{name}} </a> 
     </button> 
  {% endif %} 
{% endblock %}

{% block content %}
    {% if grade %}
        <div class="row" style="padding: 50px 0px 0px 0px;">
            <div class="col">
                <h4>Videos accesibles por {{grade}} </h4><br>
            </div>
        </div>

        <div class="row" align="center" style="padding: 50px 0px 0px 0px;" >
            <div class="col">
                <div class="”video-responsive”">
                        <iframe  src="https://www.youtube.com/embed/Zr_Aq7wFid0" width="90%" height="90%" frameborder="0" allowfullscreen="allowfullscreen"> </iframe>
                </div>
            </div>
            <div class="col" align="center" >
                <div class="”video-responsive”">
                        <iframe  src="https://www.youtube.com/embed/jBixeitoac0" width="90%" height="90%" frameborder="0" allowfullscreen="allowfullscreen"> </iframe>
                </div>
            </div>
            <div class="col" align="center" >
                <div class="”video-responsive”">
                        <iframe  src="https://www.youtube.com/embed/BmRwmeFy6u8" width="90%" height="90%" frameborder="0" allowfullscreen="allowfullscreen"> </iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" align="center" >
                <div class="”video-responsive”">
                        <iframe  src="https://www.youtube.com/embed/FAwDD-K6NsA" width="90%" height="90%" frameborder="0" allowfullscreen="allowfullscreen"> </iframe>
                </div>
            </div>
            <div class="col" align="center" >
                <div class="”video-responsive”">
                        <iframe  src="https://www.youtube.com/embed/1EikfshkvbI" width="90%" height="90%" frameborder="0" allowfullscreen="allowfullscreen"> </iframe>
                </div>
            </div>
            <div class="col" align="center" >
                <div class="”video-responsive”">
                        <iframe  src="https://www.youtube.com/embed/FyJaqqR03-w" width="90%" height="90%" frameborder="0" allowfullscreen="allowfullscreen"> </iframe>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 50px 300px 300px 300px;" >
            <div class="col">
                 <!-- Carousel -->
                 <div id="demo" class="carousel slide" data-bs-ride="carousel">
                    <!-- Indicators/dots -->
                    <div class="carousel-indicators">
                    {%for i in range(1, 5)%}
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="{{i-1}}" {% if i == 1 %}class="active"{% endif %}></button>
                    {%endfor%}
                    </div>
                    <!-- The slideshow/carousel -->
                    <div class="carousel-inner">
                    {%for i in range(1, 5)%}
                        <div class="carousel-item {% if i == 1 %}active{% endif %}">
                            <img src="https://logia.buenaventuracadiz.cl/bcp/image/photos/bcp_{{i}}.jpeg" alt="Pronto acá un carrusel de fotos de Logia" class="d-block w-100">
                        </div>
                    {%endfor%}
                    </div>
                    <!-- Left and right controls/icons -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row" style="padding: 100px 0px 0px 0px;">
            <div class="col">
                <div class="alert alert-danger" role="alert">
                    Si no recuerda sus credenciales dirijase al sitio oficial de la <a href="https://www.granlogiadechile.cl/" target="_blank" rel="noopener noreferrer">Gran Logia de Chile</a> para recuperarlas. Si sólo recuerda su mail de registro puede crear una nueva clave presionando directamente <a href="https://www.mimasoneria.cl/web/reset_password" target="_blank" rel="noopener noreferrer">acá</a>.
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}